.service-extended-container {
    min-height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
    @media screen and (min-width: 1024px){
        padding-top: unset;
    }
    div {
        width: 95%;
        margin: auto;
        @media screen and (min-width: 1024px){
            width: 80%;
            margin: unset;
        }
    }

    .service-extended-title {
        width: 90%;
        @media screen and (min-width: 1024px){
            width: 30%;
        }
        h2 {
            line-height: 60px;
            width: 100%;
            margin: 40px auto;
            font-size: 3rem;
            color: var(--darkgreen-color);
            font-family: var(--font-base);
            text-align: left;

            @media screen and (min-width: 1024px) {
                font-size: 4rem;
            }
        }
    }

    .service-extended-descriptions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        div {
            margin-bottom: 20px;
            h5 {
                padding: 2px 10px;
                border-radius: 5px;
                background-color: var(--purple-color);
                color: white;
                font-family: var(--font-base);
                display: inline-flex;
                font-size: 1.2rem;
                margin-bottom: 5px;
            }

            p {
                font-size: 1rem;
                width: 90%;
                color: white;
                font-family: var(--font-base);
                @media screen and (min-width: 1024px){
                    width: 60%;
                }
            }
        }
    }
}