.app__social-media {
    display: flex;
    flex-direction: column;
    background-color: var(--lightgray-color);
    .app__highlighted-reports-title-h2-container {
        width: 75%;
        margin: auto;
        padding-top: 40px;
        .app__highlighted-reports-title-h2 {
            font-size: 3rem;
            color: var(--blue-color);
            font-family: var(--font-base);
            margin-bottom: 30px;
            text-align: left;

            span {
                display: block;
                margin-top: -10px;
                color: var(--purple-color);

                @media screen and (min-width: 1024px) {
                    margin-top: -20px;
                }
            }

            @media screen and (min-width: 1024px) {
                font-size: 4rem;
            }
        }
    }

    .app__social-media-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        padding: 40px 0 100px;
        div{
            display: flex;
            flex-direction: column;
        }

        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }
    }
}